mixin icon(name,width)
    if !width
        span(class="icon svg-image-" + name)
    else
        span(class="icon svg-image-" + name style="width:" + width + "px")


mixin use(name,width,height)
    svg(width=width height=height viewBox="0 0 "+ width +" "+ height).icon
        use(xlink:href="images/sprites/main.stack.svg#image-" + name)


mixin picture(name,ext,x2)
    if !x2
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext alt="")
    else
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp, images/" + name + "@2x.webp 2x" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext srcset="images/" + name + "." + ext + ", images/" + name + "@2x." + ext + " 2x" alt="")


mixin breadcrumbs(arr,cur)
    .b-breadcrumbs
        .container
            each v in arr
                a(href="#").b-breadcrumbs__link=v
            if cur!=''
                span.b-breadcrumbs__text=cur



mixin pagination(amount, current, ellipsis, last, arrows)
    .pagination
        if (arrows === true)
            a(href="#").pagination__prev: span

        ul.pagination__list
            - for (var index = 1; index <= amount; index++)
                if (index === current)
                    li.pagination__item.current
                        span= index
                else if (index === ellipsis)
                    li.pagination__item
                        a(href="#").is-collapsed ...
                else
                    li.pagination__item
                        a(href="#")= index

            - for (var index = last; index <= last; index++)
                li.pagination__item
                    a(href="#")= index

        if (arrows === true)
            a(href="#").pagination__next: span

mixin button(linkOrButton, uniqueClass, colorClass, value)
    //- linkOrButton may have one of the next values: link, button

    //- uniqueClass - any className for element

    //- colorClass may have one of the next values:
    //- .btn-red, .btn-white, .btn-black

    if linkOrButton === 'button'
        button(aria-label= value class=uniqueClass + ' btn ' + colorClass)
            span= value
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.2847 0.857865L4.13116 3.84645L12.2961 12.0114L15.2847 0.857865ZM1.84968 15.7071L9.62786 7.92893L8.21365 6.51472L0.435471 14.2929L1.84968 15.7071Z" fill="white")

    else
        a(href="#" aria-label= value).header__get-in-touch.btn.btn-red
            span= value
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.2847 0.857865L4.13116 3.84645L12.2961 12.0114L15.2847 0.857865ZM1.84968 15.7071L9.62786 7.92893L8.21365 6.51472L0.435471 14.2929L1.84968 15.7071Z" fill="white")
